Repository pagopa/pagopa-spontaneous-payments, pull requests merged in 2022-07, with the labels that each got.

#11 [PPD-237] Added Actuator
  .gitignore
  pom.xml
  src/main/java/it/gov/pagopa/spontaneouspayment/config/LoggingAspect.java
  src/main/java/it/gov/pagopa/spontaneouspayment/config/SwaggerConfig.java
  src/main/resources/application-dev.properties
  src/main/resources/application-local.properties
  src/main/resources/application.properties
  src/test/resources/application.properties
Labels: ignore-for-release

#10 feat: Add helm GPS deploy
  .devops/azure-templates/maven-versioning.yml
  .devops/deploy-pipelines.yml
  .gitignore
  Dockerfile
  docker/run.sh
  helm/.helmignore
  helm/Chart.lock
  helm/Chart.yaml
  helm/values-dev.yaml
  pom.xml
  src/main/resources/application-dev.properties
  src/main/resources/application-local.properties
  src/main/resources/application.properties
Labels: ignore-for-release

#12 Ppd 238 call iuv generator
  helm/values-dev.yaml
  src/main/java/it/gov/pagopa/spontaneouspayment/SpontaneousPaymentApplication.java
  src/main/java/it/gov/pagopa/spontaneouspayment/config/FeignConfig.java
  src/main/java/it/gov/pagopa/spontaneouspayment/entity/Service.java
  src/main/java/it/gov/pagopa/spontaneouspayment/entity/ServiceProperty.java
  src/main/java/it/gov/pagopa/spontaneouspayment/entity/ServiceRef.java
  src/main/java/it/gov/pagopa/spontaneouspayment/exception/AppError.java
  src/main/java/it/gov/pagopa/spontaneouspayment/model/IuvGenerationModel.java
  src/main/java/it/gov/pagopa/spontaneouspayment/model/enumeration/PropertyType.java
  src/main/java/it/gov/pagopa/spontaneouspayment/model/response/IuvGenerationModelResponse.java
  src/main/java/it/gov/pagopa/spontaneouspayment/model/response/PaymentPositionModel.java
  src/main/java/it/gov/pagopa/spontaneouspayment/service/GpdClient.java
  src/main/java/it/gov/pagopa/spontaneouspayment/service/IuvGeneratorClient.java
  src/main/java/it/gov/pagopa/spontaneouspayment/service/PaymentsService.java
  src/main/resources/application-dev.properties
  src/main/resources/application-local.properties
  src/main/resources/application.properties
  src/test/java/it/gov/pagopa/spontaneouspayment/config/MockUtil.java
  src/test/java/it/gov/pagopa/spontaneouspayment/config/TestUtil.java
  src/test/java/it/gov/pagopa/spontaneouspayment/service/EnrollmentsServiceTest.java
  src/test/java/it/gov/pagopa/spontaneouspayment/service/PaymentsServiceTest.java
  src/test/java/it/gov/pagopa/spontaneouspayment/service/ServicesServiceTest.java
  src/test/resources/application.properties
  src/test/resources/gpd/getPaymentOption.json
  src/test/resources/gpd/getPaymentPosition.json
Labels: enhancement

#16 [PPD-265] Improvements
  .gitignore
  pom.xml
  src/main/java/it/gov/pagopa/spontaneouspayment/SpontaneousPaymentApplication.java
  src/main/java/it/gov/pagopa/spontaneouspayment/config/ConsmosDBConfiguration.java
  src/main/java/it/gov/pagopa/spontaneouspayment/config/MappingsConfiguration.java
  src/main/java/it/gov/pagopa/spontaneouspayment/mapper/ConvertJsonPOToPaymentOptionModel.java
  src/main/java/it/gov/pagopa/spontaneouspayment/model/response/PaymentOptionsModel.java
  src/main/java/it/gov/pagopa/spontaneouspayment/service/PaymentsService.java
  src/main/java/it/gov/pagopa/spontaneouspayment/service/client/ExternalServiceClient.java
  src/main/java/it/gov/pagopa/spontaneouspayment/service/client/GpdClient.java
  src/main/java/it/gov/pagopa/spontaneouspayment/service/client/IuvGeneratorClient.java
  src/test/java/it/gov/pagopa/spontaneouspayment/config/MockUtil.java
  src/test/java/it/gov/pagopa/spontaneouspayment/config/TestUtil.java
  src/test/java/it/gov/pagopa/spontaneouspayment/service/EnrollmentsServiceTest.java
  src/test/java/it/gov/pagopa/spontaneouspayment/service/PaymentsServiceTest.java
  src/test/java/it/gov/pagopa/spontaneouspayment/service/ServicesServiceTest.java
  src/test/resources/application.properties
Labels: bug
